{% if not hide_nav %}{% extends "base.html" %}{% endif %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
{% block content %}
    <div class="container">
        <div class="center-align">
            <img class="error-img" src="{{ url_for('static', filename='images/500.jpg') }}" alt="error 500 image">
            <h1>Oh crumbs! - Internal Server Error</h1><br>
            <h4>Oh no, the application failed</h4><br>
            <a href="{{ url_for('home') }}">Click here to get back </a>
        </div>
    </div>
{% endblock %}