@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
/* general */
h1 {
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px 0;
    text-shadow: -4px 3px 0 #009688;    /* teal colour on Materialize */
    font-family: "Kaushan Script";
}

h2 {
    color: #000;
    text-shadow: 1px 2px 3px #ff4081,   /* pink accent-2 colour on Materialize */
        2px 4px 6px #fff;
}

h2, h3, h4 {
    font-family: "Noto Serif", serif;
    text-align: center;
    padding: 0 0 10px;
}

h5 {
    font-family: "Noto Serif", serif;
    padding: 0 10px 10px;
}

p {
    font-family: "Noto Sans", sans-serif;
}

/* Colours */
.main {
    background-color: #fefefa;
}

.text-pink {
    color: #EE6E73;     /* pink colour of tabs in cards on Materialize */
}

/* colourcodes from https://usbrandcolors.com/tech/ */
.fb:hover {
    background-color: #4267B2;
    color: #fff;
}

.tw:hover {
    background-color: #1DA1F2;
}

.ig:hover {
    background-color: #833AB4;
}

.pin:hover {
    background-color: #E60023;
}

.gb {
    border: 3px solid #66bb6a;      /* green lighten-1 colour on Materialize */
}

.rb {
    border: 3px solid #d32f2f;      /* red darken-2 colour on Materialize */
}

.btn-red {
    background-color: #d32f2f;      /* red darken-2 colour on Materialize */
}

.grey-bb {
    border-bottom: 1px solid #e7e7e7;
}

.text-shadow {
    text-shadow: 2px 2px 2px #616161;
}

/* navbar */
.navbar {
    font-size: 16px;
}

.nav-wrapper li, .navbar-brand {
    letter-spacing: .2rem;
}

.navbar-brand {
    font-family: "Noto Serif", serif;
    font-weight: 500;
    font-size: 24px;
}

.nav-wrapper i {
    font-size: 18px;
}

.brand-logo {
    font-family: "Kaushan Script";
}
/* navbar underline Credit: https://ianlunn.github.io/Hover/ */
.hvr-ufc {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
.hvr-ufc:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ff4081;    /* pink accent-2 colour on Materialize */
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
.hvr-ufc:hover:before, .hvr-ufc:focus:before, .hvr-ufc:active:before {
    left: 0;
    right: 0;
}
/* end credit */

#mobile-demo li, #mobile-demo a {
    font-size: 18px;
}

#mobile-demo .brand-logo {
    font-size: 24px;
}

#back-to-top {
    font-size: 18px;
    margin: 0 auto;
}

/* footer */
footer {
    padding: 25px 0 10px;
}

footer .card-content {
    padding: 5px 20px !important;
}

.footer-text {
    font-size: 20px;
    padding: 10px;
}

.list-inline-item {
    background-color: #455a64;     /* blue-grey darken-2 colour on Materialize */
    border-radius: 20%;
    text-align: center;
    height: 80px;
    width: 80px;
    padding: 7px;
    margin: 20px;
    line-height: 40px;
}

.list-inline-item i {
    color: #fff;
    font-size: 18px;
}

.socials {
    margin-top: 65px;
}

.socials a {
    width: 60px;
    height: 60px;
}

/* margin and padding */
.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb {
    padding-bottom: 40px;
}

.pt10 {
    padding-top: 10px;
}

.m0 {
    margin: 0 !important
}

.mb0 {
    margin-bottom: 0 !important;
}

/* ID's and classes */
.container {
    padding: 20px 0 40px;
}

.bake {
    background-image: url("../images/bake.png");
    background-position: center;
    background-size: cover;
}

.opaque {
    opacity: 0.7;
}

.btn, button {
    color: #000;
    font-weight: bold;
}

button i {
    color: #fff;
}

.btn:hover, .btn:active, .hover:hover .hover:active {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0 ,0.24),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    transform: translate(-0.1rem, 0.1rem);
    transition: transform 150ms;
}

.bs {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.modal, .modal-footer {
    background-color: #fce4ec !important;      /* pink lighten-5 colour on Materialize */
}

#modal1, #modal3, #modal4 {
    width: 35%;
}

#modal2 {
    height: 90%;
    width: 80%;
}

#modal2 > * {
    padding: 0 !important;
}

.flashes {
    background-color: #80cbc4;  /* teal ligthen-3 colour on Materialize */
}

.collection {
    border: none !important;
    padding-left: 5px !important;
    margin: 0;
}

.collection-item i {
    font-size: 16px;
    padding: 10px 0 !important;
}

.card-title {
    font-weight: bold !important;
}

/* Credit bilalkhan891 @ https://github.com/Dogfalo/materialize/issues/2089 */
.equal-col {
    display: flex;
    flex-wrap: wrap;
}

.equal-col .col {
    margin-right: auto;
}

/* Index */
.welcome {
    padding: 40px 0;
    background-image: url("../images/pink_background.png");
    background-position: center;
    background-size: cover;
}

.lead {
    background-color:rgba(0, 0, 0 , 0.2);
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: auto;
}

/* Recipes */

.searchbar {
    padding: 20px 0;
    margin: 0 auto;
}

.searchbar i {
    color: #fff;
}

.btn {
    margin: 10px;
}

#search {
    font-size: 18px;
}

.indications {
    font-size: 12px;
    padding: 0 20px !important;
}

.indications li{
    padding: 10px 0 !important;
}

.card-image p {
    margin: 10px;
}

/* recipe */
.recipe .card-image {
    padding: 0;
}

.recipe-list {
    padding-bottom: 10px !important;
}

/* add recipe */
.input-field .prefix.right {
    right: 0;
  }

/* Contact page */
.input-field i {
    font-size: 24px !important;
}

/* error handlers */
.error-img {
    width: 70%;
}

/* shop page */
.medium {
    height: 450px !important;
}