@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    /* font-family: "Noto Sans", sans-serif; */
}
/* general */

h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

h2 {
    text-align: center;
    padding: 20px;
}

/* Colours */
.main {
    background-color: #fefefa;
}

/* navbar */
.navbar {
    font-size: 18px;
}

li, .navbar-brand {
    margin: 0 10px;
    letter-spacing: .2rem;
}

.navbar-brand {
    font-family: "Noto Serif", serif;
    font-weight: 500;
    font-size: 24px;
}

.nav-link i {
    font-size: 16px;
}

#search {
    font-size: 30px;
}
 
/* navbar underline Credit: https://ianlunn.github.io/Hover/ */
.hvr-ufc {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-ufc:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(197, 18, 97);;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-ufc:hover:before, .hvr-ufc:focus:before, .hvr-ufc:active:before {
    left: 0;
    right: 0;
  }
/* end credit */

/* ID's and classes */

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

/* Recipes */
