@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    /* font-family: "Noto Sans", sans-serif; */
}
/* general */

h1 {
    margin-bottom: 20px;
}

h1, h2, h3, h4 {
    font-family: "Noto Serif", serif;
    text-align: center;
    padding: 0 0 10px;
}

p {
    font-family: "Noto Sans", sans-serif;
}

/* Colours */
.main {
    background-color: #fefefa;
}

/* colourcodes from https://usbrandcolors.com/tech/ */
.fb:hover {
    background-color: #4267B2
}

.tw:hover {
    background-color: #1DA1F2
}

.ig:hover {
    background-color: #833AB4
}

.pin:hover {
    background-color: #E60023;
}

.gb {
    border: 3px solid #66bb6a;
}

.rb {
    border: 3px solid #d32f2f;
}

.btn-red {
    background-color: #d32f2f;
}

/* navbar */
.navbar {
    font-size: 16px;
}

li, .navbar-brand {
    letter-spacing: .2rem;
}

.navbar-brand {
    font-family: "Noto Serif", serif;
    font-weight: 500;
    font-size: 24px;
}

.nav-wrapper i {
    font-size: 18px;
}


/* navbar underline Credit: https://ianlunn.github.io/Hover/ */
.hvr-ufc {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-ufc:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ff4081;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-ufc:hover:before, .hvr-ufc:focus:before, .hvr-ufc:active:before {
    left: 0;
    right: 0;
  }
/* end credit */

/* ID's and classes */
.container {
    padding: 20px 0 40px;
}

.bake {
    background-image: url("../images/bake.jpg");
    background-position: center;
    background-size: cover;
}
.btn-green {
    background-color: #ace3d9;
}

/* Index */
.welcome {
    border-bottom: 2px solid #ff4081;
    padding-bottom: 40px;
}

/* Recipes */
.cat {
    padding-bottom: 40px;
}

.searchbar {
    padding: 20px 0;
    margin: 0 auto;
}

.searchbar i {
    color: #fff;
}
.btn {
    margin: 10px;
}

#search {
    font-size: 18px;
}

.indications i {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.card-image p {
    margin: 10px;
}
/* recipe */


/* add recipe */
.input-field .prefix.right{
    right: 0;
  }

.mb0 {
    margin-bottom: 0 !important;
}

/* footer */
footer {
    margin: 25px 0;
}

.list-inline-item {
    background-color: #455a64;
    /* border: 1px solid #fff; */
    border-radius: 50%;
    text-align: center;
    height: 80px;
    width: 80px;
    padding: 7px;
    margin: 20px;
    line-height: 40px;
}

.list-inline-item i {
    color: #fff;
    font-size: 18px;
}

.socials {
    margin-top: 65px;
}

.socials a {
    width: 60px;
    height: 60px;
}

/* Contact page */
.input-field i {
    font-size: 24px !important;
}

