{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Add a new category</h3>

    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel blue-grey lighten-5">
                <form method="POST" action="{{ url_for('add_category') }}">
                    <!-- category name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="category_name" name="category_name" 
                                minlength="3" maxlength="20" type="text" class="validate" >
                            <label for="category_name">Category name:</label>
                        </div>
                    </div>
                    <!-- submit button -->
                    <div class="row">
                        <div class="col s12 ">
                            <button type="submit" class="btn-large">
                                Add Category <i class="fas fa-plus"></i>
                            </button>
                            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red right">Cancel <i
                                    class="fas fa-times"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}