{% extends "base.html" %}
{% block content %}

<div class="bake">
    <div class="container p20 center-align">

        <div class="row contact">
            <form class="col s12 m10 offset-m1 l8 offset-l2" method="POST" action="{{ url_for('contact') }}">
                <div class="card opaque pt10">
                    <h2>Contact</h2>
                    <p>In case you have questions or remarks,<br>please don't hesitate to contact me.</p><br>
                    <div class="divider"></div>
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12 l6">
                                <i class="far fa-user prefix"></i>
                                <input id="first_name" name="first_name" type="text" class="validate" required>
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="far fa-user prefix"></i>
                                <input id="last_name" name="last_name" type="text" class="validate" required>
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-at prefix"></i>
                                <input id="contactemail" name="contactemail" type="email" class="validate" required>
                                <label for="contactemail">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-pen-alt prefix"></i>
                                <textarea id="icon_prefix2" class="materialize-textarea" required></textarea>
                                <label for="icon_prefix2">Your message</label>
                            </div>
                        </div>
                        <div class="row">
                            <button
                                class="col s12 m8 offset-m2 l6 offset-l3 pink accent-1 btn-large waves-effect waves-light"
                                type="submit">Submit <i class="fas fa-sign-in-alt right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}