{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Contact</h3>

    <div class="row contact">
        <form class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="row">
                <div class="input-field col s6">
                    <i class="far fa-user prefix"></i>
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="far fa-user prefix"></i>
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-at prefix"></i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen-alt prefix"></i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">Your message</label>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <button class="col s12 m8 offset-m2 l6 offset-l3 btn btn-large waves-effect waves-light"
            type="submit">Submit <i class="fas fa-sign-in-alt right"></i></button>
        </div>
</div>


{% endblock %}