{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Edit your recipe</h3>

    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel blue-grey lighten-5">
                <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                    <!-- recipe name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="recipe_title" name="recipe_title" 
                                value="{{ recipe.recipe_title }}" type="text"
                                class="validate" required>
                            <label for="recipe_title">Recipe name:</label>
                            <span class="helper-text right" data-error="wrong" data-success="right">required</span>
                        </div>
                    </div>
                    <!-- recipe category -->
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="category_name" name="category_name" class="validate" required>
                                <option value="" disabled>Category</option>
                                {% for category in categories %}
                                    {% if category.category_name == recipe.category_name %}
                                        <option value="{{ category._id }}" selected>{{ category.category_name | capitalize }} </option>
                                    {% else %}
                                        <option value="{{ category._id }}">{{ category.category_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="category_name">Recipe category:</label>
                            <span class="helper-text right" data-error="wrong" data-success="right">required</span>
                        </div>
                    </div>
                    <!-- recipe description -->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="recipe_description" name="recipe_description" class="materialize-textarea"
                                maxlength="200" data-length="200">
                                {{- recipe.recipe_description -}}
                            </textarea>
                            <label for="recipe_description">Short recipe description:</label>
                        </div>
                    </div>
                <!-- recipe image -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="recipe_image" name=recipe_image type="text"
                                value="{{ recipe.recipe_image }}" class="validate" required>
                            <label for="recipe_image">URL for recipe image:</label>
                            <span class="helper-text right" data-error="wrong" data-success="right">required</span>
                        </div>
                    </div>
                    <!-- prep time -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="prep_time" name="prep_time" type="text"
                                value="{{ recipe.prep_time }}" class="validate">
                            <label for="prep_time">Preparation time:</label>
                        </div>
                    </div>
                    <!-- bake time -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="bake_time" name="bake_time" type="text"
                            value="{{ recipe.bake_time }}" class="validate">
                            <label for="bake_time">Baking time:</label>
                        </div>
                    </div>
                    <!-- total time -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="total_time" name="total_time" type="text"
                            value="{{ recipe.total_time }}" class="validate" required>
                            <label for="total_time">Total time:</label>
                            <span class="helper-text right" data-error="wrong" data-success="right">required</span>
                        </div>
                    </div>
                    <!-- servings -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="servings" name="servings" type="text"
                            value="{{ recipe.servings }}" class="validate" required>
                            <label for="servings">Serves:</label>
                            <span class="helper-text right" data-error="wrong" data-success="right">required</span>
                        </div>
                    </div>
                    <!-- tools needed -->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="tools" name="tools" class="materialize-textarea">
                                {{- recipe.tools -}}
                            </textarea>
                            <label for="tools">Special tools needed:</label>
                        </div>
                    </div>
                    <!-- Credit: https://shouts.dev/add-or-remove-input-fields-dynamically-using-jquery-->
                    <!-- ingredients -->
                    {% for ingredient in recipe.ingredients %}
                    <div class="row mb0" id="inputIngredientRow">
                        <div class="input-field col s12 mb0">
                            <textarea id="ingredient" name="ingredient[]" class="materialize-textarea" required>
                                {{- ingredient -}}
                            </textarea>
                            <label for="ingredient">Ingredient</label>
                            <span class="helper-text right" data-error="wrong" data-success="right">required</span>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="newRowIngredient"></div>
                    <div class="col s12">
                        <a id="addRowIngredient" class="btn-floating btn waves-effect waves-light"><i
                                class="fas fa-plus"></i></a> Add ingredient
                    </div>
                    <!-- instructions -->
                    {% for step in recipe.steps %}
                    <div class="row mb0" id="inputStepRow">
                        <div class="input-field col s12 mb0">
                            <textarea id="step" name="step[]" class="materialize-textarea" required>
                                {{- step -}}
                            </textarea>
                            <label for="step">Instructions</label>
                            <span class="helper-text right" data-error="wrong" data-success="right">required</span>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="newRowStep"></div>
                    <div class="col s12">
                        <a id="addRowStep" class="btn-floating btn waves-effect waves-light"><i
                                class="fas fa-plus"></i></a> Add instruction
                    </div>
                    <!-- end credit -->
                    <!-- tips and tricks -->
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="tips" name="tips" class="materialize-textarea">
                                {{- recipe.tips -}}
                            </textarea>
                            <label for="tips">Tips and tricks:</label>
                        </div>
                    </div>
                    <!-- submit button -->
                    <div class="row">
                        <div class="col s12 ">
                            <button type="submit" class="btn-large">
                                Edit Recipe <i class="fas fa-edit"></i>
                            </button>
                            <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red right">Cancel <i
                                    class="fas fa-times"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}