{% extends "base.html" %}
{% block content %}


<div class="container">
    <h2>{{ recipe.recipe_title | capitalize }}</h2>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="row">
                    <div class="col s12 l7 card-image">
                        <img src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_title }}">
                        <p>By: {{ recipe.created_by | capitalize }}</p>
                    </div>
                    <div class="col s12 l5 card-content">
                        <div class="div">
                            <div class="row indications center-align">
                                <div class="col s12 card-content">
                                    <p>{{ recipe.recipe_description }}</p>
                                </div>
                                <div class="col s6 m3 l6">

                                    <p><i class="fas fa-hourglass-end"></i> Prep: {{ recipe.prep_time }}</p>
                                </div>
                                <div class="col s6 m3 l6">
                                    <i class="fas fa-hourglass-start"></i>
                                    <p>Bake: {{ recipe.bake_time }}</p>
                                </div>
                                <div class="col s6 m3 l6">
                                    <i class="fas fa-hourglass"></i>
                                    <p>Total: {{ recipe.total_time }}</p>
                                </div>
                                <div class="col s6 m3 l6">
                                    <i class="fas fa-user-friends"></i>
                                    <p>Serves: {{ recipe.servings }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 card-content">
                        <p><i class="fas fa-utensils"></i>Tools</p>
                        <p>{{ recipe.tools }}</p>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a class="active" href="#test4">Ingredients</a></li>
                            <li class="tab"><a href="#test5">Instructions</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="test4">
                            {% for ingredient in recipe.ingredients %}
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" />
                                        <span>{{ ingredient }}</span>
                                    </label>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        <div id="test5">
                            {% for step in recipe.steps %}
                            <ul>
                                <li>{{ loop.index }}. {{ step }}</li><br>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {% if session.user|lower == recipe.created_by|lower %}
            <div class="card-action">
                <a class="btn" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
                <a class="btn right red" href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}