{% extends "base.html" %}
{% block content %}

<div class="container align-center">
    <h2>Recipes</h2>
    
    <!-- Categories display only on large and extra large size > 992px -->
    <div class="row hide-on-med-and-down">
        <div class="cat center-align ">
            <a href="#" class="waves-effect waves-light btn-large">All</a>
            <a href="#" class="waves-effect waves-light btn-large">Bread</a>
            <a href="#" class="waves-effect waves-light btn-large">Cake</a>
            <a href="#" class="waves-effect waves-light btn-large">Cookies</a>
            <a href="#" class="waves-effect waves-light btn-large">Dessert</a>
            <a href="#" class="waves-effect waves-light btn-large">Muffins</a>
            <a href="#" class="waves-effect waves-light btn-large">Pie</a>
        </div>
    </div>

    <div class="row">
        <!-- Categories display only on small and medium size < 992px -->
        <div class="col s12 m4 center-align hide-on-med-and-up show-on-medium-and-down">
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn btn-large' href='#' data-target='dropdownCat'>Categories</a>

            <!-- Dropdown Structure -->
            <ul id='dropdownCat' class='dropdown-content'>
                <li><a class="black-text hvr-ufc" href="{{ url_for('recipes') }}">All recipes</a></li>
                <li><a class="black-text hvr-ufc" href="#">Bread</a></li>
                <li><a class="black-text hvr-ufc" href="#">Cake</a></li>
                <li><a class="black-text hvr-ufc" href="#">Cookies</a></li>
                <li><a class="black-text hvr-ufc" href="#">Muffins</a></li>
                <li><a class="black-text hvr-ufc" href="#">Pie</a></li>
            </ul>
        </div>
        <!-- search and reset buttons -->
        <div class="searchbar col s12 m8 l12">
            <form>
                <div class="row">
                    <div class="col s12 m8 right-align">
                        <input placeholder="What do you want to bake today?" id="search" name="search" type="text"
                            class="validate">
                    </div>
                    <div class="col s12 m4 center-align">
                        <button type="submit" class="waves-effect waves-light btn"><i
                                class="fas fa-search"></i></button>
                        <a href="#" class="waves-effect waves-light btn"><i
                                class="fas fa-times"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- recipes overview -->
    {% for recipe in recipes %}
    <div class="row">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_title }}">
            </div>
            <div class="card-content center-align">
                <h4><strong>{{ recipe.recipe_title | capitalize }}</strong></h4>
                <p>{{ recipe.recipe_description }}</p>
            </div>
            <div class="card-action center-align">
                <a class="btn" href="{{ url_for('recipe', recipe_id=recipe._id) }}">Go to recipe</a>
            </div>
            {#% if session.user|lower == recipe.created_by|lower %#}
            <div class="card-action">
              <a class="btn" href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a>
              <a class="btn red right" href="#">Delete</a>
            </div>
            {#% endif %#}
          </div>
        </div>
      </div>
      {% endfor %}
</div>


{% endblock %}
