{% extends "base.html" %}
{% block content %}


<div class="container">
    <h2>{{ recipe.recipe_title | capitalize }}</h2>

    <div class="row">
        <div class="col s12">
            <div class="card recipe">
                <div class="col s12 l7 card-image">
                    <img src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_title }}">
                    <p>By: {{ recipe.created_by | capitalize }}</p>
                    <p><i class="fas fa-list-ul"></i> &nbsp; Category: {{ recipe.category_name | capitalize }}</p>
                </div>
                <div class="col s12 l5 card-content">
                    <ul class="col s6 l12 collection">
                        <li class="collection-item">
                            <p><i class="fas fa-hourglass-end prefix"></i> &nbsp; prep: {{ recipe.prep_time }}</p>
                        </li>
                        <li class="collection-item">
                            <p><i class="fas fa-hourglass-start prefix"></i> &nbsp;&nbsp; bake: {{ recipe.bake_time }}</p>
                        </li>
                    </ul>
                    <ul class="col s6 l12 collection">
                        <li class="collection-item">
                            <p><i class="fas fa-hourglass prefix"></i> &nbsp;&nbsp; total: {{ recipe.total_time }}</p>
                        </li>
                        <li class="collection-item">
                            <p><i class="fas fa-user-friends prefix"></i> &nbsp;&nbsp; Serves: {{ recipe.servings }}</p>
                        </li>
                    </ul>
                    <div class="col s12 card-content">
                        <blockquote>{{ recipe.recipe_description }}</blockquote>
                    </div>
                </div>
                <ul class="col s12 collection">
                    <li class="collection-item">
                        <p><i class="fas fa-utensils"></i> &nbsp;&nbsp;Tools:</p>
                        <p>{{ recipe.tools }}</p>
                    <li class="collection-item">
                </ul>
                <!-- for screen sizes < 992px -->
                <div class="card-tabs show-on-medium-and-down hide-on-med-and-up">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#test4">Ingredients</a></li>
                        <li class="tab"><a href="#test5">Instructions</a></li>
                    </ul>
                </div>
                <div class="card-content show-on-medium-and-down hide-on-med-and-up">
                    <div id="test4">
                        {% for ingredient in recipe.ingredients %}
                        <ul class="recipe-list">
                            <li>
                                <label>
                                    <input type="checkbox" />
                                    <span>{{ ingredient }}</span>
                                </label>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    <div id="test5">
                        {% for step in recipe.steps %}
                        <ul class="recipe-list">
                            <li>{{ loop.index }}. {{ step }}</li>
                            <li></li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <!-- for screen sizes > 992px -->
                <div class="row card-content">
                    <div class="col s12 l5 hide-on-med-and-down">
                        <h4 class="text-pink">Ingredients</h4><br>
                        {% for ingredient in recipe.ingredients %}
                        <ul class="recipe-list">
                            <li>
                                <label>
                                    <input type="checkbox" />
                                    <span>{{ ingredient }}</span>
                                </label>
                            </li>
                        </ul>

                        {% endfor %}
                    </div>
                    <div class="col s12 l7 hide-on-med-and-down">
                        <h4 class="text-pink">Instructions</h4>
                        {% for step in recipe.steps %}
                        <ul class="recipe-list">
                            <li>{{ loop.index }}. {{ step }}</li>
                            <li></li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>


{% endblock %}