{% extends "base.html" %}
{% block content %}

<div class="container align-center">

    <h2>Shop</h2>

    <!-- Shop items overview -->
    <div class="row shop">
        <div class="col s12 m6 l4">
            <div class="card medium sticky-action z-depth-2 hover">
                <div class="card-image">
                    <img class="activator"
                        src="https://www.lecreuset.ie/dw/image/v2/BDSR_PRD/on/demandware.static/-/Sites-master-catalog-LC/default/dw6d7f05b2/images/hires/Full_HD_PNG/LC_20201218_ZS_PS_FS_42830000600007_004.png?sw=765&sh=575&sm=fit"
                        alt="utensil set">
                </div>
                <hr>
                <div class="card-content">
                    <span class="card-title"><i class="fas fa-ellipsis-v activator prefix right"></i>3-piece Utensil
                        Set</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="fas fa-times prefix right"></i>3-piece Utensil Set</span>
                    <p>Keep this clever trio of tools to hand whenever you’re cooking or baking. It unites together our
                        medium spatula, large spatula spoon and basting brush, in Le Creuset’s iconic cerise colour.
                        Crafted from premium silicone, each tool is flexible to use and easy to clean. Treat yourself,
                        or give a transformative gift.</p>
                </div>
                <div class="card-action center-align">
                    <a class="btn pink accent-2" target="_blank" rel="noopener"
                        href="https://www.lecreuset.ie/en_IE/en_IE/p/craft-3-piece-utensil-set/SI4283000.html">Buy
                        now!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card medium sticky-action z-depth-2 hover">
                <div class="card-image">
                    <img class="activator"
                        src="https://www.lecreuset.ie/dw/image/v2/BDSR_PRD/on/demandware.static/-/Sites-master-catalog-LC/default/dwcecd8050/images/hires/Full_HD_PNG/LC_20200502_DE_PS_NS_94102115130000_001.png?sw=765&sh=575&sm=fit"
                        alt="Insulated Cookie Sheet">
                </div>
                <hr>
                <div class="card-content">
                    <span class="card-title"><i class="fas fa-ellipsis-v activator prefix right"></i>Insulated Cookie
                        Sheet</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="fas fa-times prefix right"></i>Insulated Cookie Sheet</span>
                    <p>Whether you prefer your cookies crisp and crunchy or soft and gooey, indulging is easy with this
                        expertly designed non-stick baking sheet. It’s double-walled for even heat distribution and
                        all-important browning. Thanks to the flat edge, you can easily move your cookies and it’s easy
                        to clean too – crumbs won’t get caught!</p>
                </div>
                <div class="card-action center-align">
                    <a class="btn pink accent-2" target="_blank" rel="noopener"
                        href="https://www.lecreuset.ie/en_IE/en_IE/p/insulated-cookie-sheet/MB46101.html">Buy now!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card medium sticky-action z-depth-2 hover">
                <div class="card-image">
                    <img class="activator"
                        src="https://www.lecreuset.ie/dw/image/v2/BDSR_PRD/on/demandware.static/-/Sites-master-catalog-LC/default/dwb99bb942/images/hires/Full_HD_PNG/LC_20210113_HL_PS_FS_94100929000000_001.png?sw=765&sh=575&sm=fit"
                        alt="Square Cake Tin">
                </div>
                <hr>
                <div class="card-content">
                    <span class="card-title"><i class="fas fa-ellipsis-v activator prefix right"></i>Square Cake
                        Tin</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="fas fa-times prefix right"></i>Square Cake Tin</span>
                    <p>Create homemade cakes, breads and even hearty casseroles with this useful square cake tin. The
                        non-stick coating releases food effortlessly, for brilliant results and quick cleaning. And the
                        heat resistant silicone handles make lifting and moving safe and easy when using gloves.</p>
                </div>
                <div class="card-action center-align">
                    <a class="btn pink accent-2" target="_blank" rel="noopener"
                        href="https://www.lecreuset.ie/en_IE/en_IE/p/square-cake-tin/MB46205.html">Buy now!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card medium sticky-action z-depth-2 hover">
                <div class="card-image">
                    <img class="activator"
                        src="https://www.lecreuset.ie/dw/image/v2/BDSR_PRD/on/demandware.static/-/Sites-master-catalog-LC/default/dwa235a545/images/hires/Full_HD_PNG/LC_20210108_HL_PS_FS_94100140000000_002.png?sw=765&sh=575&sm=fit"
                        alt="Muffin Tray">
                </div>
                <hr>
                <div class="card-content">
                    <span class="card-title"><i class="fas fa-ellipsis-v activator prefix right"></i>Muffin Tray</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="fas fa-times prefix right"></i>Muffin Tray</span>
                    <p>Delight friends and family, with delicacies by the dozen. This hardworking muffin tray’s twelve
                        deep cups are ideal for making muffins, cupcakes, brioches, mini quiches and a whole host of
                        other sweet and savoury starters and desserts. What will you magic up first?</p>
                </div>
                <div class="card-action center-align">
                    <a class="btn pink accent-2" target="_blank" rel="noopener"
                        href="https://www.lecreuset.ie/en_IE/en_IE/p/muffin-tray/MB460044.html">Buy now!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card medium sticky-action z-depth-2 hover">
                <div class="card-image">
                    <img class="activator"
                        src="https://www.lecreuset.ie/dw/image/v2/BDSR_PRD/on/demandware.static/-/Sites-master-catalog-LC/default/dw5f5b5d53/images/hires/Full_HD_PNG/LC_20210113_HL_PS_FS_94100732000000_002.png?sw=765&sh=575&sm=fit"
                        alt="Quiche & Tart Tin">
                </div>
                <hr>
                <div class="card-content">
                    <span class="card-title"><i class="fas fa-ellipsis-v activator prefix right"></i>Quiche & Tart
                        Tin</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="fas fa-times prefix right"></i>Quiche & Tart Tin</span>
                    <p>Delight your guests with perfectly cooked flans and quiches. This non-stick tin is designed to
                        make the cooking process so much easier. It distributes heat evenly, releases food effortlessly,
                        and the base can even be lifted out for spot-on serving!</p>
                </div>
                <div class="card-action center-align">
                    <a class="btn pink accent-2" target="_blank" rel="noopener"
                        href="https://www.lecreuset.ie/en_IE/en_IE/p/quiche-and-tart-tin/MB46200.html">Buy now!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card medium sticky-action z-depth-2 hover">
                <div class="card-image">
                    <img class="activator"
                        src="https://www.lecreuset.ie/dw/image/v2/BDSR_PRD/on/demandware.static/-/Sites-master-catalog-LC/default/dw31ec200d/images/hires/Full_HD_PNG/LC_20200608_AD_PS_NS_79134108359030_001.png?sw=765&sh=575&sm=fit"
                        alt="mini ramekins">
                </div>
                <hr>
                <div class="card-content">
                    <span class="card-title"><i class="fas fa-ellipsis-v activator prefix right"></i>Set of 6 Mini
                        Ramekins</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="fas fa-times prefix right"></i>Set of 6 Mini Ramekins</span>
                    <p>A beautiful set, bringing together six stoneware mini ramekins, in a mix of bright rainbow hues.
                        These handy pots have all sorts of uses, from preparing hot dishes in the oven or grill to
                        serving dips, condiments, nibbles, tapas and even mini desserts. Presented in a stylish gift
                        box, they’d make the perfect present.</p>
                </div>
                <div class="card-action center-align">
                    <a class="btn pink accent-2" target="_blank" rel="noopener"
                        href="https://www.lecreuset.ie/en_IE/en_IE/p/stoneware-rainbow-set-of-6-mini-ramekins/SW9134b.html">Buy
                        now!</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card medium sticky-action z-depth-2 hover">
                <div class="card-image">
                    <img class="activator"
                        src="https://www.lecreuset.ie/dw/image/v2/BDSR_PRD/on/demandware.static/-/Sites-master-catalog-LC/default/dw91e79d44/images/hires/Full_HD_PNG/LC_20200504_CA_PS_NS_94100329000000_001.png?sw=765&sh=575&sm=fit"
                        alt="loaf tin">
                </div>
                <hr>
                <div class="card-content">
                    <span class="card-title"><i class="fas fa-ellipsis-v activator prefix right"></i>Loaf Tin</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title"><i class="fas fa-times prefix right"></i>Loaf Tin</span>
                    <p>Perfect your favourite cake and bread recipes in this useful rectangular loaf tin. The
                        classic
                        shape makes for great-looking results, while heat resistant silicone handles mean lifting
                        your
                        creations with gloves in and out of the oven is safe and easy.</p>
                </div>
                <div class="card-action center-align">
                    <a class="btn pink accent-2" target="_blank" rel="noopener"
                        href="https://www.lecreuset.ie/en_IE/en_IE/p/loaf-tin/MB46201.html">Buy now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}